body {
  background-color: pink
}

h1 {
  color: darkred;
}

button {
  background-color: darkred;
}


body.modo-oscuro {
  background-color: darkred;
}

.modo-oscuro h1 {
  color: pink;
}

.modo-oscuro button {
  background-color: pink;
}
